name: Test

on:
  pull_request:
  merge_group: 
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - name: Ruff lint
        run: uv run ruff check . --output-format github
      - name: Ruff format
        run: uv run ruff format --diff .
      - name: Ty type check
        run: uv run ty check --output-format github
      - name: Pyright type check
        run: uv run pyright

  test:
    name: Run tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      - run: uv run pytest
      # The tests/mocked test monkeypatch various internal SDK things and need
      # to be isolated (read: run entirely seperately) from the other tests.
      - run: uv run pytest tests/mocked
